h2.markup-demo-label {
  border: dashed 1px #ccc;
  padding: 5px 0;
  color: #666;
  font-weight: normal;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 80px 0 40px;
  clear: both;
}
.markp-demo-wrapper {
  width: 100%;
}
.markup-demo-half {
  width: 50%;
}
.markup-demo-third {
  width: 32.7%;
  float: left;
  margin-right: 4px;
  margin-bottom: 40px;
}
.markup-demo-quarter {
  width: 25%;
}
